* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo-mario{

    height: 100px;

}
button {

    color: white;
    background-color: red;
    border-radius: 5px;
    border: none;
    width: 200px ;
    height: 50px;
   cursor: pointer;
   text-transform: uppercase;
   font-weight: bold;
   margin-top: 20px;
}
.botao a :hover{
    color: red;
    font-size: 26px;
    transition: 0.5s ease-in-out;
}

.irmãos-encanadores{

    height: 500px;
}


body{
    height: 100vh;
}
.caixa-mae{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
    height: 100vh;
}

.caixa-principal{

    width: 35%;
    color: white;

}
.caixa-video{
    position: fixed;
    z-index: -1;
    top: 0;
   opacity: 1.0;

}
video{
    min-height:100% ;
    min-width: 100%;
    position: fixed;
    top: 0;
    
}
.mascara{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
    background: radial-gradient(circle, rgba(79, 76, 76, 0.221) 15%, rgba(0, 0, 0, 0.956) 90%);   
}
.header {
display:flex;
align-items:center;
gap: 30px;
margin: 30px;


}

.header img{
    height: 60px;

}
.header a{
    color: white;
    font-size: 24px;
    cursor: pointer;
}
.header a:hover{

    color: red;
    font-size: 26px;
    transition: 0.5s ease-in-out;

}
.formulario-fale-conosco {
   
    color: white;
    background: rgba(249, 247, 247, 0.069);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left: -130px;
    padding: 20px;
    border-radius: 5px;
    transform: translateX(-50%);
    transition: left 1s ease-in-out;
}
input{
    
    color: white;
    background: rgba(0, 0, 0, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.8px);
    -webkit-backdrop-filter: blur(2.8px);
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: rgba(0, 17, 0, 0.19);

}
textarea{
    /* From https://css.glass */
    color: white;
    background: rgba(0, 0, 0, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.8px);
    -webkit-backdrop-filter: blur(2.8px);
    height: 100px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: rgba(45, 4, 4, 0.287);

}
.mascara-formulario{
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(180,58,58);
    background: linear-gradient(90deg, rgba(180,58,58,0.6) 0%, rgba(0,0,0,0.596401028277635) 50%, rgba(0,0,0,0.6) 100%);
    transition: visibility 1s ease-in-out;
}
    @media (max-width: 800px) {
        .caixa-principal{
            display : flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            width: 100%;
            padding: 10px;
        }
        .caixa-mae{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0;
        }
        .mascara-formulario{
            visibility: visible;
        }
        .img-mario{
            width: 100%;
            height: 100%;
        }

        .logo-mario{
            width: 80%;
            height: 80%;
    
    }
        .irmãos-encanadores{
            width: 80vw;
            height: auto;
        }
        .formulario-fale-conosco{
            left: 0;
            transform: translateX(0);
        }

        p{
            display: none;
        
        }
       .header {
            display:flex;
            align-items:center;
            justify-content: center;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100vw;
            gap: 20px;
            margin: 20px;
       }}
    

